.products-manufacturer {
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    gap: 40px;
    background-color: #E5E5E5;
    border: 1px #E5E5E5;
    height: 60px;
    
    .manufacturer-item {
        span {
            font-size: 20px;
            font-weight: 800;
            cursor: pointer;
        }
    }
}