.admin-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    .admin-above {
        width: 100%;
        height: 50px;
    }

    .admin-below {
        width: 100%;
        height: calc(100vh - 50px);
        display: flex;

        .admin-menu-left {
            width: 13%;
            height: 100%;
        }

        .admin-content-children {
            width: 87%;
            height: calc(100vh - 50px);
            overflow-y: auto;
        }
    }
}
